@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

@*<h2>Index</h2>

@Html.ActionLink("登陆", "LoginView", "Back")

<table border="1"  style="text-align:center;">
    <tr>
        <td colspan="3">文章列表</td>
    </tr>
    <tr>
        <th>标题</th>
        <th>作者</th>
        <th>时间</th>
    </tr>
@{
    List<NewsRealease.DAL.MODEL.NewsShow> news = ViewData["news"] as List<NewsRealease.DAL.MODEL.NewsShow>;
    for (int i = 0; i < news.Count(); i++)
    {
        <tr>
            <td>@Html.ActionLink(news[i].news_title, "NewsDetailView", new { newsID=news[i].news_id})</td>
            <td>@news[i].author</td>
            <td>@news[i].news_time</td>
        </tr>
    }
    }
</table>*@




<!--中间内容 start-->
<div class="container">

    @Html.Action("IntrernalNewsPartialView", "Home")

    <div class="row">
        <div class="divhrwhite"></div>
        <div class="divhrblack"></div>
        <div class="divrwhite"></div>
    </div>
    <!--国际新闻和校内新闻 start-->
    <div class="row">
        @Html.Action("InternationalNewsView", "Home")
        @Html.Action("CampusNewsView", "Home")
    </div>
    <!--国际新闻和校内新闻 end-->
</div>
<!--中间内容 end -->
