@{
    ViewBag.Title = "ManageUserView";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<NewsRealease.DAL.DB.Users> userList = new List<NewsRealease.DAL.DB.Users>();
    if (ViewData["users"] != null)
    {
        userList = ViewData["users"] as List<NewsRealease.DAL.DB.Users>;
    }
}


<div id="MainDiv" name="MainDiv" class="container content-main">
    <div class="row ">
        <table id="table" class="table table-bordered table-hover table-margin">
            <thead>
                <tr>
                    <th>用户编号</th>
                    <th>登录名</th>
                    <th>真实姓名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                @foreach (NewsRealease.DAL.DB.Users user in userList)
                {
                    <tr  id="tr@(user.user_id)">
                        <td>@user.user_id</td>
                        <td>@user.user_loginName</td>
                        <td>@user.user_realName</td>

                        <td>
                            <input type="button" class="btn btn-primary" value="删除" onclick="RemoveUser(@user.user_id)" />
                            <input type="button"  class="btn btn-primary" value="修改" onclick="ModifyUser(@user.user_id)" />
                        </td>
                    </tr>
                }


                }

            </tbody>
        </table>

    </div>

</div>
<script type="text/javascript">    
    function ModifyUser(user_id)
    {
        $.ajax({            
            type: "Post",
            url: "/User/ModifyUserView",
            data:{user_id:user_id},
            success:function(data){  
                $("#MainDiv").html(data);
            }
            
        });
        
    }

    function RemoveUser(user_id) {
        $.ajax({            
            type: "Post",
            url: "/User/RemoveUser",
            data:{user_id:user_id},
            success:function(data){                                
                var table=document.getElementById("table");
                var trs=table.getElementsByTagName("tr");
                for(var i = trs.length - 1; i > 0; i--)
                {
                    var id="tr"+user_id;                                       
                    if(id==trs[i].id){                        
                        table.deleteRow(i);
                        alert("删除成功");
                    }
                }
            }
            
        });        
    }
</script>
